* {
  margin: 0;
  padding: 0;
}
html {
  --White: hsl(0, 0%, 100%);
  --bg: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  text-align: center;
  height: 95vh;
  width: 90%;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  cursor: pointer;
}
.qr {
  background-color: white;
  border-radius: 15px;
  padding: 15px;

  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}
.qr img {
  border-radius: 10px;
}
h2 {
  font-size: 20px;
  color: var(--Dark-blue);
}
p {
  padding-bottom: 30px;
  color: var(--Grayish-blue);
}

/* responsive */
@media (max-width: 1024px) {
  p {
    padding-bottom: 20px;
  }

  .qr {
    padding: 10px;
  }

  .qr {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .qr {
    width: 40%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .qr {
    width: 60%;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .qr {
    width: 80%;
  }
}
